/* Hide scrollbar for Firefox */
.tabs-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for WebKit (Chrome, Safari) */
.tabs-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
