#datetimepicker .react-datepicker {
  @apply rounded-xl border border-web-orange;
}

#datetimepicker .react-datepicker__header {
  @apply border-b-0 bg-white;
}

#datetimepicker .react-datepicker .react-datepicker__month-container {
  @apply mb-7 bg-white;
}

#datetimepicker .react-datepicker {
  @apply p-[18px_15px_17px];
}

#datetimepicker .react-datepicker-time__input input {
  @apply rounded-xl border border-web-orange p-[10px_5px];
}

#datetimepicker .react-datepicker__day.react-datepicker__day--disabled {
  @apply text-gray-40;
}

#datetimepicker .react-datepicker__day.react-datepicker__day--selected {
  @apply bg-white text-primary;
}

#datetimepicker .react-datepicker__day {
  @apply text-center text-xs font-normal text-abbey;
}

.business-information .react-datepicker-wrapper {
  width: 100%;
  height: 100%;
}

.business-information .react-datepicker__input-container {
  width: 100%;
  height: 100%;
}
