.dy-tab:is(input[type='radio']):after {
  width: 150px;
  gap: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f1f2f2;
  color: #a7a9ac;
  margin: 0 2px;
}

.dy-tab:is(input[type='radio'][name='dy-my_tabs_1 tab-fill']):after {
  background: #f1f2f2;
  color: #4d4d4f;
  margin: 0 2px;
  font-weight: 500;
}

.dy-tab:is(input[type='radio']:checked):after {
  background: #ff6b00 !important;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}
